@{
    ViewBag.Title = "About our Coder";
}

<main>
    <link href="~/Content/about-page.css" rel="stylesheet" />
</main>

<body>

    <!-- Intro Header -->
    <div class="container intro-header">
        <div class="container intro-header-content">
            <!-- Text -->
            <div class="row intro-text">
                <h1 class="name">BlowOut Instrument Company</h1>
                <h3>A Family Oriented Music Company</h3>
                <hr class="intro-divider">
            </div>
            <!-- Buttons -->
            <div class="row">
                <a href="https://www.instagram.com/the_cascadian/" class="btn btn-default btn-lg btn-space"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                <a href="mailto:alex.zwingli@outlook.com?subject=I'd like to get in touch&body=<br/><br/>Send via website." class="btn btn-default btn-lg btn-space"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">email</span></a>
                <a href="https://www.linkedin.com/in/zwingli" class="btn btn-default btn-lg btn-space"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </div>
        </div>
    </div>
    <!-- Close Intro Header -->
    <!-- Section Contents -->
    <div class="container content-a">
        <div class="row">
            <div class="col-lg-5 col-sm-6 test-box">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div> <!-- Clears the area -->
                <h2 class="section-heading">Tyler Martindale</h2>
                <h3>Founder, CEO</h3>
                <p class="lead">Tyler Martindale is an avid musician, mentoring students since a young age. Frustrated with how difficult it was to find quality instrumnets for reasonable prices, he opened Awesome Instrument Company to provide students of all levels with instruments, enabling them to achieve their dreams without breaking their budget.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img id="profile" class="img-responsive" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/10380977_10203353384367917_1228041890599266444_n.jpg?oh=8d509173c581c46a9af756ee40619fff&oe=588A77DC" alt="Founder">
            </div>
        </div>
    </div>

    <div class="container content-b">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <img class="img-responsive" src="http://larrysguitars.com/wp-content/uploads/2013/08/storeshot.png" alt="Instruments">
            </div>
            <div class="col-lg-5 col-sm-6 test-box">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div> <!-- Clears the area -->
                <h2 class="section-heading">A Store for All Your Needs</h2>
                <p class="lead">We know that it's frustrating when you're excited to get something, but you can't find it. Se we've dedicated many years to developing good relationships with suppliers to get you quality variety for all your needs. That's getting what you want, when you want, where you want. Come in today!</p>
            </div>
        </div>
    </div>

    <div class="container content-a">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div> <!-- Clears the area -->
                <h2 class="section-heading">Always Upgrading</h2>
                <p class="lead">After creating an incredible store you'll want to re-visit again and again, we didn't stop there. We're still working on bringing you new features that you're sure to love.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/img/toolbox-small.png" alt="Toolbox (small)">
            </div>
        </div>
    </div>
    <!-- End Section Contents-->
</body>

